<!DOCTYPE html>
<html>
  <head>
    <title>New Article</title>
    <link rel="stylesheet" href="../articles.css">
  </head>

  <body>
    <hl>New Article:</hl>

    <form action="/articles" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title">

      <label for="description">Description:</label>
      <input type="text" id="description" name="description">

      <label for="url">URL:</label>
      <input type="text" id="url" name="url">

      <input type="submit">
    </form>

    <li><a href="/articles">Back to articles.</a></li>
  </body>

</html>
